---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// ... stuff

@import "minimal-mistakes";

// This changes the code box
.highlight {
  margin: 0;
  padding: 0.5em;
  font-family: $monospace;
  font-size: $type-size-5b;
  line-height: 1.8;
}